<div class="card" [ngStyle]="{'background-color': color}">
  <div class="card-name">
    <h3>{{name}} - {{cargo}}</h3>
  </div>

  <div class="number">
    <span>{{projects}}</span>
  </div>

  <div class="card-meta">
    <span>Meta:</span>
    <div>
      <span class="number-meta">{{meta}}</span>
    </div>
  </div>

  <div class="card-actions mt-2 flex justify-center w-full">
    <a routerLink="/card-view" class="btn text-white font-semibold py-1 px-3 text-sm rounded w-[50%]" style="background-color: #32b2cc;">
      Projetos
    </a>    
  </div>
</div>
