<div class="projects">
    <div class="title">
        <h1>Projetos</h1>
    </div>
    
    <div class="funcionario w-full">
        <div class="row">
            <span class="label">Nome:</span>
            <span class="content">Yan</span>
        </div>
        
        <div class="row">
            <span class="label">Cargo:</span>
            <span class="content">Desenvolvedor</span>
        </div>

        <div class="row">
            <span class="label">Projetos:</span>
            <div class="content project-container">
                <span>Sistema Web X - 54%</span>
                <div class="progress-container">
                    <div class="progress-bar" style="width: 54%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
