<div class="carousel w-full h-[500px] ">
    <!-- Slide 1: Gráfico de Linhas -->
    <div id="slide1" class="carousel-item relative w-full h-full flex justify-center">
      <app-line-chart></app-line-chart> 
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide2" class="btn btn-circle">❮</a>
        <a href="#slide2" class="btn btn-circle">❯</a>
      </div>
    </div>
  
    <!-- Slide 2: Outro Slide -->
    <div id="slide2" class="carousel-item relative w-full h-full flex justify-center">
      <app-bar-chart></app-bar-chart>
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide1" class="btn btn-circle">❮</a>
        <a href="#slide1" class="btn btn-circle">❯</a>
      </div>
    </div>
</div>
  