.dash-main {
    height: 100%;
    padding: 2rem;
    background-color:white;

.text-main {
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    padding: 0;
}

.box-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


}